

.nav {
  overflow: hidden;
  background-color: #333;
  position:fixed;
  width: 100%;
  z-index:99999;
  top: 0;

}

.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 1.5em;

}

.nav a:hover {
  background-color: rgb(169, 221, 189);
}

.nav .active {
  background-color: rgb(156, 137, 32);
  color: white;
}

.nav .icon {
  display: none;
  font-size: 0em;
}

@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;

  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
    animation-name: drop;
    animation-timing-function: linear;
    animation-duration: 3.5s;
  }
}

.margin-buffer {
  margin-top: 2.45em;
}
