img {
  max-width: 200px;
  height: auto;
}

.involved
{
  background-color: black;
}

.africa
{
  background-color: green;
}

.asia
{
  background-color: pink;
}

.centralAm
{
  background-color: yellow;
}

.oceania
{
  background-color: blue;
}

.southAm
{
  background-color: orange;
}

.rotate {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  width: .5em;
  margin: auto;
  height: 100%;
}
.rotate div {
     -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
       -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */

         margin: auto;
         height: 100%;
         line-height: 40px;
}
