blockquote.right {
  text-align: right;
  margin-left: 40%;
}

blockquote.left {
  text-align: left;
  margin-right: 40%;
}

div.blockquoteColumn {
  margin: auto;
  width: 90%;
}

div.mainColumn {
  margin: auto;
  width: 70%;
}

h1 {
  text-align: center;
}

#contactInfo {
  text-align: center;
  margin-left: 0%
}

h2 {
  margin-left: 5%
}

h3 {
  margin-left: 10%;
}

h4 {
  margin-left: 12%;
}

li {
  margin-left: 15%;
}
