blockquote.right {
  text-align: right;
  margin-left: 40%;
}

blockquote.left {
  text-align: left;
  margin-right: 40%;
}

div.blockquoteColumn {
  margin: auto;
  width: 90%;
}

div.mainColumn {
  margin: auto;
  width: 80%;
}
