.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

blockquote {
  font-style: italic;
  margin: 1em 1em 1em 0;
  min-width: 200px;
}

blockquote:before, blockquote:after {
  content: '"';
}

.author {
  width: 100%;
  display: inline-block;
  text-indent: 5%;
}

.author:before {
  content: '- ';
}
